.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    border: 1px solid #6a31f0;
    background-color: #6dafec;
    max-width: 520px;
    height: 500px;
}
.image{
    width: 500px;
    
}

.info{
    justify-content: center;
}

.name{justify-content: end;}
.genre{
    align-content: space-between;
}

