.allInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #9f7fa3;
    height: 100vh;
    background-image: url("./images/portal2.jpg");
}

.backButton{
    border: 3px solid #000000;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;    
    height: 40px;
    cursor: pointer;
    box-shadow: 0px 0px 15px #1beeee;
}


.gameInfo{
    align-items: center;
    justify-content: center;
    width: 750px;
    border: 3px solid #000000;
    border-radius: 10px;
    background-color: #ffdc16;  
    box-shadow: 0px 0px 10px #ffdc16;
}

.gameImage{
    margin-top: 10px;
    width: 600px;
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 10px #000000;
}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 750px;
}

.infoTitle{
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

.infoDescription{
    font-size: 13px;
    margin: 10px;
    text-align: justify;
}